
li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label, p, li, button {
    font-weight: bold;
    font-family: 'Baloo Bhai', cursive;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  body {
    background-image: url("../img/pusheen.png");
    background-repeat: repeat;
    font-family: 'Baloo Bhai', cursive;

  }

  